<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1></h1>

<% @team.each do |name| %>
    <h2><%= name %></h2>
<% end %>

<form method="POST" action="/tean">
  <p>Team Name: <input type="text" name="name"></p>
  <p>Your Favorite Food: <input type="text" name="favorite_food"></p>
  <input type="submit">
</form>

 </body>
</html>


